<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
</head>
<body>

<header>
    <div class="header__left">
        <a href="/">FastApi_is_the_BEST.ru</a>
    </div>
    
        <div class="header__right">
            <a href="/login">Войти</a>
            <a href="/login">Регистрация</a>
        </div>
</header>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    <p>Шапка сайта</p>
</footer>
</body>
</html>